@import "../../theme/variables.scss";

@media (max-width: 768px) {
  .kontakt {
    h1 {
      font-size: 2em !important;
      margin-top: 0px !important;
    }
    h2 {
      font-size: 1em !important;
    }
    .container{
      margin-top: 20px !important;
    }
  }
}
