.registerPage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
  .form-control{
    margin-right: 6px;
  }
}
.register-success {
  display: none;
}

@media (max-width: 768px) {
  .registerPage {
    form {
      :global(.btn) {
        margin-left: 0px;
      }
    }
  }
}
